a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{
	border:0 none;

	margin:0;

	border:0;
	outline:0;
	vertical-align:top;
	line-height: 18px;
} table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
	color: #333;
}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background-color: #dddddd}



a{
	text-decoration: none;
}
a:hover {
	color: #0099FF;
}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {margin-bottom: 15px; margin-top: 50px;}
header .wrap-header{
	height: 50px;
}

header #logo { width:100%; position: absolute; top:40px; left: 20px;}

header #search {position: absolute;top: 60px; right:20px; width: 218px;z-index: 15;}
header .button-search {	position: absolute;	right: 0px;	background: url('../images/button-search.png') center center no-repeat;	width: 28px; height: 35px;cursor: pointer;}
header #search input{background: #FFF;	padding: 1px 33px 1px 5px;	width: 182px;	height: 32px;	border: 1px solid #CCCCCC;	-webkit-border-radius: 3px;	-moz-border-radius: 3px; -khtml-border-radius: 3px;	border-radius: 3px;}

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

#s2a {
	position:absolute;
	width:28%;
	height:100%;
	z-index:8;
	background-image:url(images/ss-bg.png);
}
#s2b {
	width:90%;
	height:40%;
	z-index:8;
	margin-top: 40%;
	margin-left: 5%;
}

#pp-1 {
	position:absolute;
	visibility: visible;
	margin-top: 5%;
	color:#FFF
}

#pp-2 {
	position:absolute;
	visibility: visible;
	padding: 1.5%;
	color:#FFF

}

#pp-2a {
	position:absolute;
	visibility: visible;

	padding: 1.2%;

}



#pp-2b {
	position:absolute;
	visibility: visible;

	padding: 1%;
		color:#FFF
}
#pp-2c {
	position:absolute;
	visibility: visible;

	padding: 1%;
		color:#FFF
}
#pp-2d {
	position:absolute;
	visibility: visible;

	padding: 1%;
		color:#FFF
}

#pp-5 {
	position:absolute;
	visibility: visible;
    width:20%;

}

#pp-9 {
	position: static;
	visibility: visible;

}

#pp-3 {
	position:absolute;
	visibility: visible;


}
#pp-3a {
	position:absolute;
	visibility: visible;
	margin-top: 1%;

}


#pp-4 {
	position:absolute;
	visibility: visible;
	margin-top: 2%;
	width:37%;
	margin-left: 2%;
				color:#FFF
}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {
	position: relative;
	float: left;
	margin: auto;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	font-size: 12px;
	visibility: hidden;
}
.menu  ul li:hover {
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	
}
.menu  ul li a {
	font-size: 18px;
	line-height:30px;
	color:#333333;
	display: block;
	margin-bottom: 5px;
	z-index: 6;
	position: relative;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	font-weight: bold;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	visibility: visible;
}
.menu  ul li:hover a {
	color: #6FF;
}


.minimenu{
	position: relative;
	margin: 0px;
}
.minimenu div{overflow: hidden;position: relative;font: 20px/30px 'Arial';color: #333333;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{ 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
.featured .wrap-featured{
}
.featured .wrap-featured .slider{
	padding: 0px;
}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#content .wrap-content{

}

.block01 {
	padding: 0px;
}
.block01 .box{
	padding: 1px;
	background-color: #666666;
}


.block01 .boxa{
	padding: 1px;
	background-color: #FFF;
	border: 1px solid #CCC;
}
.block01 .boxa:hover{
	background-color: #66ccff;
}
.block01 .boxa-1{
	padding: 3px;

}


.box-p{ 
position:absolute;
visibility: visible;

background-image:url(../images/solution-bg-b.png)
width:20;
height:20


}



.box-p:hover{
visibility:hidden;



}



.box2{
	background-color: #FFFFFF;
	height:100%;
	padding: 15px;
}
.box2-1{

	height:100%;
	padding: 15px;
}

.box2c{
	padding: 5px;
	margin-left: 3px;
	float:left;
	width:32px;
	
}

.box2a{
	padding: 20px;
}
.box3{

	height:100%;
	padding: 2px;
}
.box-1{
	background-image: url(../images/top-w.png)
}
.block01 h2{font-size:23px; line-height:30px; font-weight:normal;}
.block01 p{

	padding: 5px;

}
.title-ca {
	font-size: 11pt;
	font-family: Calibri, Helvetica, sans-serif;
	color: #336699;
	font-weight: bold;
	line-height: 16pt;

}.title-ha {
	font-family: "Calibri", "Helvetica", "sans-serif";
	font-size: 11pt;
	line-height: 16px;
	font-weight: bold;
	color: #CC6600;
}
.title-ia {
	font-family: "Calibri", "Helvetica", "sans-serif";
	font-size: 11pt;
	line-height: 16px;
	color: #6666CC;
	font-weight: bold;
	letter-spacing: 0.8px;
}
.title-pt3s {
	font-size: 12pt;
	font-weight: bold;
	font-family: "Calibri", "Helvetica", "sans-serif";
	color: #336699;

}
.title-pt4 {
	font-family: "Verdana", "Calibri", "Helvetica", "sans-serif";
	font-size: 11pt;
	color: #336699;
	font-weight: bold;

}
.bbb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #7B7B7B;
	letter-spacing: normal;
}
.search {
	font-family: "MS Sans Serif", "Verdana", "Arial";
	font-size: 11pt;
	color: #086447;
	letter-spacing: normal;
	font-weight: bold;
	font-style: normal;
	background-color: #d1efe6;
	line-height: 14pt;
	padding: 2px;
	border:1px solid #537d55;
	border-width:0px 1px 1px 0px;
}

.text-t{
	font-size:18px;
	font-family: Verdana, Geneva, sans-serif, "微軟正黑體";
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
}
.text-tb{
	font-size:15px;
	font-family: Verdana, Geneva, sans-serif, "微軟正黑體";
	line-height: 18px;
	font-weight: bold;
	color: #333;
}
.text-t2{
	font-size:14px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 26px;
	font-weight: bold;
}
.text-t2w{
	font-size:12px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 25px;
	font-weight: bold;
		color: #FFF;
}
.text-t3{
	font-size:12px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 25px;
	font-weight: bold;
		color: #FFF;
}
.text-t3:hover{
	color: #33ffcc;
}

.text-t3a{
	font-size:12px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 12px;
	font-weight: bold;
	color: #333;
}
.text-t2a{
	font-size:11px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 14px;
	color: #FFF;
}
.text-t2a:hover{
	color: #33ffcc;
}
.text-t1a{
	font-size:11px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 14px;
	color: #8097ae;
}

.text-t1a:hover{
	color: #33ffcc;
}



.text-top{
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 42px;
	width: 100%;
	padding: 8px;
	color: #333;
}
.text-topb{
	font-size:18px;
	font-family: Calibri, Geneva, sans-serif, "微軟正黑體";
	line-height: 25px;
font-weight: bolder;
	padding: 8px;
	color: #333;
}
.text {
	font-size: 11pt;
	color: #666666;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	line-height: 18pt;
}
.text-b {
	font-size: 12pt;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	font-weight: bolder;
	line-height: 20px;
	letter-spacing: 0pt;
	color: #333;
}
.text-b1 {
	font-size: 12pt;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	font-weight: bolder;
	line-height: 20px;
	letter-spacing: 0pt;
	color: #333;
}
.text-w {
	font-size: 11pt;
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	line-height: 18pt;
}
.text-ws {
	font-size: 11pt;
	color: #FFF;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	line-height: 18pt;
}
#css_table {
	display:table;
	width: 958px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
  }
#ttt-bg {
	display:table;
	width: 958px;
	height:279px;
  }
  
.css_tr {
	display: table-row;
	clear: left;
  }
.css_td {
	display: table-cell;
	float: left;
	vertical-align:middle;
		
  }
.itext{
font-size: 15px;
	line-height:30px;
	color:#333333;
	display: block;
	margin-bottom: 0px;
	z-index: 6;
	position: relative;
	font-family: Calibri, sans-serif, "微軟正黑體";
	font-weight: bolder;
	padding-top: 20px;
	padding-right: 18px;
	padding-bottom: 0px;
	padding-left: 18px;
	visibility: visible;
  }
.itext:hover{
	color: #00ccff;
}

.CSSTable {
	font-size: 11pt; 
	color: #666666;
	font-family: Calibri, Helvetica, sans-serif, "微軟正黑體";
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #999;
}

.CSSTable input{

	border:1px solid #999;
	padding:2px

}

.CSSTable textarea{

	border:1px solid #999;

}


.CSSTable td{
vertical-align:middle; 
	border-width:0px 1px 1px 0px;
	text-align: left;
	padding:5px;
	border:1px solid #999;
}


  
.css_td span{
	height:100%; 
	display:inline-block;
	}
.css_td *{ vertical-align:middle;}

  .css_td-1 {
	display: table-cell;
	float: left;
	border: 1px ridge #999;
	background-color: #FFF;
  }
  .css_td-2 {
	display: table-cell;
	float: left;
	border: 1px solid #CCC;
	background-color: #FFF;

	height:180px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 10px;
	margin-left: 3px;
	
  }

#apDiv1 {
	position:absolute;
	width:958px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 378px;
	background-image: url(../images/t-bg.png);
	visibility: hidden;
}
#apDiv2 {
	position:absolute;
	width:200px;
	height:300px;
	z-index:2;
	overflow: visible;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: auto;
	margin-left: 240px;

	background-image: url(../images/t-bg.png);
	visibility: hidden;
}
#apDiv3 {
	position:absolute;
	width:260px;
	height:300px;
	z-index:3;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 340px;
	background-image: url(../images/t-bg.png);
	visibility: hidden;
}
#apDiv4 {
	position:absolute;
	width:260px;
	height:300px;
	z-index:4;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 420px;
	background-image: url(../images/t-bg.png);
	visibility: hidden;
}


#apDiv5 {
	position:absolute;
	width:260px;
	height:300px;
	z-index:5;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 590px;
	background-image: url(../images/t-bg.png);
	visibility: hidden;
}



#Layer1 {
	position:absolute;
	width:124px;
	height:60px;
	z-index:7;
	margin-left: 820px;
	margin-top: 4px;
	background-color: #eeeeee;
	border: 1px solid #999;
	visibility: hidden;
}

.block01 .more{text-align: right;}


.c2{ width:20%; background:#09F; font-size:36px; float:left}


.block02 { margin:10px; color: #959595;}
.block02 article{ clear: both; margin:10px 0px;background: #040404;}
.block02 article h2{font-size:20px; line-height:25px; font-weight:normal;}
.block02 article .info{font-style:italic; background: #131313; padding: 5px 10px;}
.block02 article img{margin:5px;}
.block02 .box{margin-bottom:20px;}
.block02 .heading{padding:5px 0px; border-bottom:3px solid #ED145B;}
.block02 .heading h2{font-size:24px; font-weight:normal; display:inline; color: #ffffff;}
.block02 .content{ margin: 15px 0px ;padding:15px; background: #040404;}
.block02 .content .list{background: #1E1E1E; padding: 10px;}
.block02 .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.block02 .content ul li{padding:5px;}

.block03 { margin:10px; color: #959595;}
.block03 article{ clear: both; margin:20px 0px;background: #040404; padding: 20px;}
.block03 article h2{font-size:25px; line-height:30px; font-weight:normal;}
.block03 article .info{font-style:italic; padding: 10px 0px;}
.block03 article img{ margin-bottom:10px; width: 100%;}
.block03 .box{margin-bottom:20px;}
.block03 .heading{padding:5px 0px; border-bottom:3px solid #ED145B;}
.block03 .heading h2{font-size:24px; font-weight:normal; display:inline; color: #ffffff;}
.block03 .content{ margin: 15px 0px ;padding:15px; background: #040404;}
.block03 .content .list{background: #1E1E1E; padding: 10px;}
.block03 .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.block03 .content ul li{padding:5px;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {
}
.wrap-footer{

background-color: #253863;

}

.block09 {padding: 10px;}
.block09 .box{margin-bottom:20px; color: #959595;}
.block09 .heading{padding:5px 0px;}
.block09 .heading h2{font-size:18px; font-weight:normal; display:inline; color: #ffffff; text-transform: uppercase;}
.block09 .content{ margin: 15px 0px ;}
.block09 .content ul{ font-size:14px;}
.block09 .content ul li{padding:5px 0; border-bottom: 1px dotted #333333;}
.block09 .content .tag a{padding: 10px; background: #ED145B; margin: 0px 5px 5px 0px; float: left;}
.block09 .content .tag a:hover{color: #ffffff; background: #F36A97;}
.block09 .content p{margin-bottom:10px; }

.copyright{text-align:center; background:#040404; padding:10px 0px;}
.copyright a{text-decoration:underline;}


/* -------------------------------------------- */
/* ------------------Components-------------------- */
.photos{}
.photos:after{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.photos a{display: block; float:left; margin: 0px 4px 10px 4px;position: relative;}
.photos a img{display:block; border:1px solid #CCC;}



.comment{font-weight:bold; margin:50px 0px; width: auto;}
.comment div{margin-bottom: 20px; vertical-align:middle; }
.comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
.comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
.comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
.comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
.comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}
